@keyframes Fr 
{

    from{transform: translateY(300%);}

}

to{

    transform: translateY(0%);
        
}

.animation{

    animation-name: Fr;

    animation-duration: 4s;

}


body{

    background: linear-gradient(to right, #ffc800, #ff0062);

}

*{
    
    text-align: center;

    font-family: "Boldonse", system-ui;

}

.h1{

    text-align: center;

    width: 300px;

    margin: 0 auto;

    padding: 20px;

    border: 2px solid #000000;

    border-radius: 15px;

    font-size: 1.3em;

    background: linear-gradient(to right, #8c00ff, #00ffe5);

}

.forgot{

    text-align: center;

    width: 300px;

    margin: 0 auto;

    padding: 20px;

    border: 2px solid #000000;

    border-radius: 5px;

    font-size: 1.3em;

    background: linear-gradient(to right, #8c00ff, #00ffe5);

}